.sidebar {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 90vh;
    gap: 1rem;
    background-color: #f3f4f6;
    padding: 1rem;
    /* overflow-y: hidden; */
}

.sidebar-link {
    padding: 0.75rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar-link:hover {
    background-color: #ddd;
}
